<div class="sidebar rounded bg-dark">
		<aside>
			<div id="divSearch">
				<input type="search"id="search" value="search" onchange="searchUser()">
			</div>
		</aside>
		<aside>
			<form name="sortForm">
				<select name="sort" id="sort" class="custom-select custom-select-sm" onchange="sortUsers()">
			        	<option value="sortBy">Sort by</option>
			  			<option value="a-j">a-j</option>
			  			<option value="k-q">k-q</option>
			  			<option value="r-z">r-z</option>
				</select>
			</form>
		</aside>
		<aside>
			<div id="usersList" class="bg-white rounded"></div>
		</aside>
	</div>

	<main class="rounded bg-danger">
		<div id="chat" class="rounded"><p class="text-white">Chat</p>
			<div id="dialog" class="rounded"></div>
			<input type="text" id="message">
			<button type="submit" id="submitButton" class="btn btn-danger">Send</button>
		</div>
		<div id="control" class="rounded bg-dark"><p class="text-white">Control</p>
			<div id=logButtons>
				<span class="badge badge-primary" id="spanCommand">Command</span>
				<form name="commandForm" onchange="getCommandInterface()">
					<select name="command" id="command" class="custom-select custom-select-sm">
						<option value="selectCommand">Select command</option>
						<option value="getInfo">get Info</option>
						<option value="command2">command 2</option>
					</select>
				</form>
				<div id="check">
				<div class="form-check form-check-inline">
  				<input class="form-check-input" type="checkbox" id="param1" value="option1">
				  <label id="label1" class="form-check-label" for="param1">Param1</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="checkbox" id="param2" value="option2">
				  <label id="label2" class="form-check-label" for="param2">Param2</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="checkbox" id="param3" value="option3">
				  <label id="label3" class="form-check-label" for="param3">Param3</label>
				</div>
				<button type="submit" id="run" class="btn btn-primary btn-sm">Run</button>
			</div>
		</div>
			<div id="commandLog" class="rounded"></div>
		</div>
		
	</main>
	
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
	<script type="text/javascript" src="js/operator.js"></script>
